.video-js {
  width: 536px;
  height: 366px;
  margin: 30px 20px 65px 174px;
  padding: 83px 104px 18px 21px;
  border-radius: 4px;
}

@media only screen and (max-width: 600px) {
  .video-js {
    width: calc(100% - 20px);
    height: 246px;
    aspect-ratio: 16/9;
    margin: 40px auto;
    display: block;
    border-radius: 4px;
  }
}

@media only screen and (max-width: 360px) {
  .video-js {
    width: calc(100% - 20px);
    height: 246px;
    aspect-ratio: 16/9;
    margin: 40px auto;
    display: block;
    border-radius: 4px;
  }
}
